@import url(utils.css);

#contact {
    margin: 7rem 0;
   color: #fff;
}

#contact h2 {
    margin-bottom: 1rem;
    color: #333;
}

@media (max-width: 1018px) {
    #contact h2 {
        text-align: center;
    }
} 

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .8rem;
}

.contact-map, .contact-form {
    flex: 0 0 auto;
    width: 49.6%;
}

@media (max-width: 1018px) {
    .contact-map {
        min-height: 300px;
        order: 1;
    }
}
.contact-form {
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: 6px;
}  

.contact-form .form-group{
    display: flex;
    flex-direction: column;
}

.contact-form input {
    padding: 1rem;
}

.contact-form .alert-message {
    padding: 1.3rem;
    background-color: antiquewhite;
    color: #333;
    border-radius: 6px;
    margin-bottom: .8rem;
    display: none;
    text-align: center;
    font-size: 1.4rem;
}

.contact-form button {
    width: 100%;
    margin-top: 2rem;
    background-color: #ffc107;
    color: #5D2F77;
    border-radius: 6px;
    padding: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: none;
}

.contact-form button:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.contact-form textarea {
    min-height: 8rem;
}

.form-label {
    margin-bottom: .5rem;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 1018px) {
    footer {
        position: static;
    }
}