* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
    font-family: "League Spartan", sans-serif;
}

h4, h5 {
    margin: 0px;
}

.app-container {
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    padding: 5rem;
}

.app-container .card {
    border: 1px solid #e6e6e6;
    background-color: #FDFAF6;
    border-radius: inherit;
}

.app-container .card-header {
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    background-color: whitesmoke;
}

.card .card-body {
    padding: 16px 8px 10px;
}    
.card .question-title {
    padding-bottom: 16px;
    font-size: .9rem;
    font-weight: 600;
}

.option-list .option{
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: .5rem;
    font-size: .9rem;
    cursor: pointer;
    transition: .5s;
    display: flex;
    justify-content: space-between;
}

.option-list .option:hover{
    color: #112b2c;
    background-color: #ffd33d;
}

.option-list .option.correct {
    color: #155724;
    background-color: #d4edda;

}

.option-list .option.incorrect {
    color: #721c24;
    background-color: #f8d7da;

}

.option-list .option.disabled, .option-list .option span {
    pointer-events: none;
}

.card .card-footer {
    width: 100%;
    height: 45px;
    border-top: 1px solid #e6e6e6;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

.card .card-footer .question-count{
    background-color: #e60000;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 12px;
    border-radius: 5px;
}

/* quizbox */

#quiz-box {
    width: 550px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#quiz-box.active {
    color: #333 !important;
}


#quiz-box #card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 8px 8px 0 0;
}

#quiz-box .timer {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border-radius: 3px;
}

#quiz-box .time-second {
    text-align: center;
    border-radius: 3px;
    background-color: #0d6efd;
    color: #fff;
    padding: 5px;
}

#quiz-box #btnNext {
    opacity: 0;

    transform: scale(0.8);
    transition: all .3s ease;
}

#quiz-box #btnNext.show {
    opacity: 1;

    transform: scale(1);
}

#quiz-box .time-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #f0a500;
}

/* scorebox */

#score-box {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}

#score-box .bi{
    color: #0d6efd;
    font-size: 80px;
    
}

#score-box .score-text {
    margin: 15px 0px;
    color: #333;
}

#score-box .score-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#score-box .score-btn .btn-replay, .btn-quit {
    background-color: #0d6efd;
    padding: 5px;
    color: #fff;
    border: 1px solid #0d6efd;
    border-radius: 3px;
    transition: .3s;
    width: 60px;
    height: 30px;
}

#score-box .score-btn .btn-replay:hover, .btn-quit:hover {
    background-color: #fff;
    color: #0d6efd;
    border-color: #0d6efd;
}

/* start button */

#quiz-box, #score-box, .app-container {
    display: none !important;
}

#quiz-box.active, #score-box.active{
    display: block !important;
}

.app-container.active {
    display: flex !important;
}
